:root{
	--main-purple: #84099e;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 500px;
	max-width: 500px;
	margin: auto;
	margin-top: 80px;
	background-color: ghostwhite;
}

html, body {
	height: 100%;
}

.big-block{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid #666666;
}

[class^="block-"] {
	display: grid;
	place-content: center;
	border: 1px solid #d3d3d3;
	transition: all .3s ease-in-out;
	user-select: none;
	position: relative;
}

.selected {
	background-color: #00a6ff;
	color: #000000 !important;
}

.selected > .notes {
	color: #000000 !important;
}

[class^="block-"]:not(.empty) {
	background-color: var(--main-purple);
	color: #FFFFFF;
}

.empty {
	color: #00a6ff;;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	padding: 14px 10px;
	background-color: var(--main-purple);
	color: #fff;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: .8fr 1fr;
}

.header > h3 {
	margin: 0;
	place-self: center start;
	padding-left: 10px;
}

.note-selected {
	background-color: gold;
	color: #000 !important;
}

.notes {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	display: grid;
	place-content: center;
	color: #666666;
	font-size: 14px;
}

.mobile-controls {
	display: none;
}

.options {
	display: grid;
	grid-auto-flow: column;
	place-items: center;
}